<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.app.model.mapper.AppPostMapper">

    <!-- 获取图文内容分页列表 -->
    <select id="getAppPostPage" resultType="com.youlai.boot.app.model.vo.AppPostVO">
        SELECT
        p.id,
        p.user_id,
        p.title,
        p.content,
        p.like_count,
        p.comment_count,
        p.favorite_count,
        p.create_time,
        p.update_time,
        p.status
        FROM
        app_post p
        <where>
            p.is_deleted = 0
            <if test="queryParams.userId != null and queryParams.userId != ''">
                AND p.user_id = #{queryParams.userId}
            </if>
            <if test="queryParams.title != null and queryParams.title != ''">
                AND p.title LIKE CONCAT('%', #{queryParams.title}, '%')
            </if>
            <if test="queryParams.status != null and queryParams.userId != ''">
                AND p.status = #{queryParams.status}
            </if>
            <if test="queryParams.postIds != null and queryParams.postIds.size() > 0">
                AND p.id IN
                <foreach collection="queryParams.postIds" item="postId" open="(" separator="," close=")">
                    #{postId}
                </foreach>
            </if>
        </where>
        <choose>
            <!-- 按照传入的 postId 顺序返回数据 -->
            <when test="queryParams.orderByPostIds == true and queryParams.postIds != null and queryParams.postIds.size() > 0">
                ORDER BY FIELD(p.id,
                <foreach collection="queryParams.postIds" item="postId" separator=",">
                    #{postId}
                </foreach>
                )
            </when>
            <!-- 默认按更新时间倒序 -->
            <otherwise>
                ORDER BY GREATEST(p.create_time, p.update_time) DESC
            </otherwise>
        </choose>
    </select>

</mapper>
