<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.app.model.mapper.AppPostLikeMapper">

    <!-- 获取用户点赞记录分页列表 -->
    <select id="getAppPostLikePage" resultType="com.youlai.boot.app.model.vo.AppPostLikeVO">
        SELECT
                id,
                user_id,
                post_id,
                create_time,
                is_deleted
        FROM
            app_post_like
        <where>
            is_deleted = 0
            <if test="queryParams.userId != null">
                AND user_id = #{queryParams.userId}
            </if>
            <if test="queryParams.postId != null">
                AND post_id = #{queryParams.postId}
            </if>
        </where>
    </select>

</mapper>
