<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.app.mapper.AppUserProfileMapper">

    <!-- 获取用户个人信息分页列表 -->
    <select id="getAppUserProfilePage" resultType="com.youlai.boot.app.model.vo.AppUserProfileVO">
        SELECT
                id,
                student_id,
                nickname,
                avatar,
                gender,
                bio,
                create_time,
                create_by,
                update_time,
                update_by,
                is_deleted,
                delete_url
        FROM
            app_user_profile
        <where>
        </where>
    </select>

</mapper>
