<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.app.model.mapper.AppUserMapper">

    <!-- 获取app_user ，存储用户的基本信息及认证信息分页列表 -->
    <select id="getAppUserPage" resultType="com.youlai.boot.app.model.vo.AppUserVO">
        SELECT
        student_id,
        password,
        auth_status,
        auth_info,
        delete_url,
        create_time,
        create_by,
        update_time,
        update_by,
        is_deleted
        FROM
        app_user
        <where>
            is_deleted = 0
        </where>
    </select>

    <select id="getUserAuthInfo" resultMap="AppAuthMap">
        SELECT
            student_id studentId,
            password,
            auth_info authInfo,
            auth_status authStatus
        From app_user
        <where>
            student_id = #{studentId}
            AND is_deleted = 0
        </where>
    </select>

    <resultMap id="AppAuthMap" type="com.youlai.boot.app.model.dto.AppUserAuthInfo">
        <result property="studentId" column="studentId" jdbcType="BIGINT"></result>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="authInfo" column="authInfo" jdbcType="VARCHAR"/>
        <result property="authStatus" column="authStatus" jdbcType="TINYINT"/>
    </resultMap>

</mapper>
